<!DOCTYPE html>
<html>
<head>
  <title>Aditya Barnwal - Portfolio</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <h1>Aditya Barnwal</h1>
  </header>
  
  <nav>
    <a href="#about">About</a>
    <a href="#links">Links</a>
  </nav>
  
  <main>
    <section id="about">
      <div class="profile">
        <img src="your_photo.jpg" alt="Aditya Barnwal">
        <h2>Aditya Barnwal</h2>
      </div>
    </section>
    
    <section id="links">
      <div class="links">
        <a href="https://codeforces.com/profile/adiwish" target="_blank">Codeforces</a>
        <a href="https://www.codechef.com/users/adiwish" target="_blank">Codechef</a>
        <a href="https://leetcode.com/adiwish/" target="_blank">LeetCode</a>
        <a href="https://www.linkedin.com/in/adiwish/" target="_blank">LinkedIn</a>
      </div>
    </section>
  </main>
</body>
</html>
